body {
    background-image: url("https://wallpaperscraft.com/image/blue_line_wave_pattern_transparent_68586_1920x1080.jpg");
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: Georgia;
}

.topnav {
    overflow: hidden;
    position: absolute;
    top: 0;
    margin-top: 1%;
}

.topnav a {
    color: black;
    float: right;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}

.topnav a:hover {
    color: blue;
    text-decoration: underline;
}

p {
    font-size: 18px;
}